section {
    color: black;
    

footer {
    text-align: right;
}

nav li a {
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.aula{
    margin: 5px;
    text-align: center;
}

.coluna{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.legenda{
    text-align: center;
}
